<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<a th:href="@{/succeed}">succeed</a>
<a th:href="@{/testException}">测试自定义异常错误处理</a>


<a th:href="@{/fileDownload}">测试文件下载</a>

<form  th:action="@{/testUpFile}" method="post" enctype="multipart/form-data">
    头像：<input type="file" name="photo"><br>
    <input  type="submit" value="上传">
</form>

<a th:href="@{/testInterceptor}">测试拦截</a><br>
</body>
</html>